@model IEnumerable<SistemaIntegradoGestion.Models.ModelArchivo>
@{
    ViewBag.Title = "DocumentoHabilitante";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/TreeView/jquery.treeview.css" rel="stylesheet" />
<link href="~/Content/TreeView/screen.css" rel="stylesheet" />
@*<script src="~/Content/TreeView/jquery.cookie.js"></script>*@
<script src="~/Content/TreeView/jquery.treeview.js"></script>
<!-- Content Header (Page header) -->
<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Cargar Documentos Habilitantes</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="">@TempData["TituloActionResul"].ToString() </a></li>
                    <li class="breadcrumb-item active">DocumentoHabilitante</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3">
            <div class="card">
                <div class="card-body">
                    <div class="card-body p-0">
                        @using (Html.BeginForm("DocumentoHabilitante", "SolicitarModificaciones", FormMethod.Post, new { id = "registerForm", enctype = "multipart/form-data", }))
                        {
                            <input type="hidden" id="Directory" name="Directory" value="@ViewBag.DireccionDirectory" />
                            <ul id="browser" class="nav nav-pills flex-column filetree treeview-famfamfam">
                                <li class="nav-item active">
                                    <span class="folder">@ViewBag.DireccionDirectory</span>
                                </li>
                                <li class="nav-item">
                                    <div class="form-group row">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="documentFile" name="documentFile">
                                            <label class="custom-file-label" for="documentFile">No se ha seleccionado ningún archivo.</label>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item active">
                                    <button type="button" id="btnEnviar" class="btn btn-outline-primary float-right">Grabar anexo</button>
                                </li>
                            </ul>
                        }


                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9">
            <div class="card">
                <div class="card-body">
                    <table id="tbExploradorArchivos" class="table table-bordered table-hover table-sm" style="width:100%;">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Fecha de modificación</th>
                                <th>Tipo</th>
                                <th>Tamaño</th>
                                <th colspan="2"> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.NombreArchivo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FechaModificacion)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tipo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Tamano)
                                </td>
                                <td>
                                    <a id="eliminar" href="@Url.Action("DocumentoHabilitante", "SolicitarModificaciones")">
                                        <i>
                                            <img src="~/Content/imganes/eliminar1.png" style="width:25px" />
                                        </i>
                                        Eliminar
                                    </a>
                                </td>
                                <td>
                                    <a id="descargar" href="@Url.Action("DocumentoHabilitante", "SolicitarModificaciones")">
                                        <i>
                                            <img src="~/Content/imganes/dowload1.png" style="width:25px" />
                                        </i>
                                        Descargar
                                    </a>
                                </td>

                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#btnEnviar').click(function () {
                $("#registerForm").submit();
            });
        })
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
}

