
@model CapaModelo.tbGarantias
@{
    ViewBag.Title = "DetalleGarantia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    /*Here We will add some css for style our treeview*/
    .collapse {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -36px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .expand {
        width: 15px;
        background-image: url('../Images/ui-icons_454545_256x240.png');
        background-repeat: no-repeat;
        background-position: -50px -17px;
        display: inline-block;
        cursor: pointer;
    }

    .treeview ul {
        font: 14px Arial, Sans-Serif;
        margin: 0px;
        padding-left: 20px;
        list-style: none;
    }

    .treeview > li > a {
        font-weight: bold;
    }

    .treeview li {
    }

        .treeview li a {
            padding: 4px;
            font-size: 12px;
            display: inline-block;
            text-decoration: none;
            width: auto;
        }
</style>

<div class="container-fluid">

    <div class="card-header card-header-stretch">
        <div class="card-title d-flex align-items-center">
            <div class="row">
                <div class="col-md-9">
                    <h3 class="fw-bolder m-0 text-gray-800">
                       Detalle Garantías
                    </h3>
                </div>
                <div class="col-md-12">
                    <a class="btn btn-success" href="ListadoGarantias">Listado Garantias</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="card-body border-top p-9">

            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Ruc</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Ruc" readonly="readonly" />
                </div>
            </div>

            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Compañia Contratista</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Compania_Contratista" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Numero Garantia</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.NumeroGarantia" readonly="readonly" />
                </div>
            </div>

            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Fecha Expedición</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Fecha_Expedicion" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Administrador Contrato</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Administrador_Contrato" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Tipo Garantía</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Tipo_Garantia" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Concepto Garantia</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    @Html.TextAreaFor(m => m.Concepto_Garantia, new { @class="form-control form-control-solid",@readonly= "readonly" , @rows = "3" })
                    @*<textarea class="form-control form-control-solid" value="@Model.Concepto_Garantia" rows="3" readonly="readonly"> </textarea>*@
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Ruc Cia. Seguros</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Ruc_Cia_Seguros" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Razon Social Cia. Seguros</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Razon_Social_Aseguradora" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Vigencia Desde</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Vigencia_Desde" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Vigencia Hasta</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Vigencia_Hasta" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label> Dias a Caducar</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    @if (int.Parse(@Model.Dias_a_Caducar) <= 20)
                    {
                        <input style="font-size:23px; background-color: #bbb8a6"  class="form-control form-control-solid, text-danger"  value="@Model.Dias_a_Caducar" readonly="readonly" />
                        
                    }
                    else
                    {

                        <input class="form-control form-control-solid" value="@Model.Dias_a_Caducar" readonly="readonly" />
                    }
                    
                </div>

               


            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Seguro de</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Seguro_de" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Estado</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Estado" readonly="readonly" />
                </div>
            </div>
            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Valor Garantía</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    <input class="form-control form-control-solid" value="@Model.Valor_Garantia" readonly="readonly" />
                </div>
            </div>

            <div class="row mb-8">
                <div class="col-sm-3">
                    <div class="fs-6 fw-bold mt-2 mb-3"><label>Observaciones</label></div>
                </div>
                <div class="col-sm-8 fv-row">
                    @Html.TextAreaFor(m => m.Observaciones, new { @class = "form-control form-control-solid", @readonly = "readonly", @rows = "4" })
                    @*<input class="form-control form-control-solid" value="@Model.Observaciones" readonly="readonly" />*@
                </div>
            </div>

        </div>

    </div>

    <hr />
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <div class="fs-6 fw-bold mt-2 mb-3">
                    <label>Usuario Creación </label>
                    <input class="form-control" value="@Model.Usuario_Creacion" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="fs-6 fw-bold mt-2 mb-3">
                    <label>Fecha Creación </label>
                    <input class="form-control" value="@Model.Fecha_Creacion" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="fs-6 fw-bold mt-2 mb-3">
                    <label>Hora Creación </label>
                    <input class="form-control" value="@Model.Hora_Creacion" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="fs-6 fw-bold mt-2 mb-3">
                    <label>Usuario Modificación </label>
                    <input class="form-control" value="@Model.Usuario_Modificacion" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="fs-6 fw-bold mt-2 mb-3">
                    <label>Fecha Modificación </label>
                    <input class="form-control" value="@Model.Fecha_Modificacion" readonly="readonly" />
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <div class="fs-6 fw-bold mt-2 mb-3">
                    <label>Hora Modificación </label>
                    <input class="form-control" value="@Model.Hora_Modificacion" readonly="readonly" />
                </div>
            </div>
        </div>
    </div>
    <br />

</div>

@section scripts{
    <script>
        $(document).ready(function () {

        })

    </script>
}

