@model IEnumerable<CapaModelo.tbItsControlAtc>
@{
    ViewBag.Title = "ListadoControladoresATC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <!--begin::Container-->

    <div class="card-header card-header-stretch">
        <div class="card-title d-flex align-items-center">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <p class="text-blue">LISTADO CONTROLADORES ATC</p>
                    </h4>
                </div>

            </div>
        </div>
    </div>
    <br />
    @using (Html.BeginForm("ListadoAtcDiario", "ControlAtcDiario", FormMethod.Post, new { id = "registerForm", enctype = "multipart/form-data", }))
    {
        <div class="row mb-8">
            <div class="col-sm-3">
                <div class="fs-3 fw-bold mt-2 mb-2" style="font-size:13px "><label>FECHA ELABORACION</label></div>
            </div>
            <div class="col-sm-8 fv-row">

                @*<input style="text-transform:uppercase" class="form-control form-control-solid" id="FechaElab" name="FechaElab" />*@
                <input type="date" class="form-control form-control-solid" name="FechaElab">
            </div>
            <div>

                <button type="submit" class="btn btn-sm btn-success" data-dismiss="modal">Buscar </button>


            </div>
        </div>




        <div class="card card-default">
            <div class="card-body">
                <div class="row">
                    <table id="tbDetalle" class="table table-bordered table-hover table-sm" style="width:100%">
                        <thead>
                            <tr>
                                <th>Lugar</th>
                                <th>Dependencia</th>
                                <th>Fecha Elaboracion</th>
                                <th>Turno</th>
                                <th>Responsable Turno</th>

                                <th class=" control-label control-lab"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>

                                <td>@Html.DisplayFor(modelItem => item.LUGAR)</td>
                                <td>@Html.DisplayFor(modelItem => item.DEPENDENCIA)</td>
                                <td>@Html.DisplayFor(modelItem => item.FECHAELABORACION)</td>
                                <td>@Html.DisplayFor(modelItem => item.TURNO)</td>
                                <td>@Html.DisplayFor(modelItem => item.NOMBRERESPONSABLE)</td>

                                <td>

                                    <a id="Consultar" href="#" onclick="Consultar('@item.LUGAR', '@item.DEPENDENCIA', '@item.FECHAELABORACION', '@item.TURNO')">
                                        <i>
                                            <img src="~/Content/imganes/consultar-documento.png" style="width:15px" />

                                        </i>
                                        Consulta
                                    </a>

                                </td>
                              
                                <td>
                                    <a id="Descarga" class="btn btn-group-sm  btn-outline-primary" href="@Url.Action("DescargaIts", "ControlAtcDiario", new {Lugar= item.LUGAR.ToString(), Dependencia =item.DEPENDENCIA.ToString(), Fechaelab = item.FECHAELABORACION, Turno = item.TURNO.ToString() })">
                                        <i><img src="~/Content/imganes/adjunto.png" style="width:15px" /></i>Descargar
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>

<div class="modal fade" id="largeModal" tabindex="-1" role="dialog" aria-labelledby="largeModal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <div class="modal-header bg-gradient-primary text-white">
                <h6 class="modal-title text-white" id="modalLabel"> INFORME DIARIO ITS</h6>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>



            <div class="modal-body">
                <div class="row">
                    <div class="card-body border-top p-9">

                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-4">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>LUGAR</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Lugar" readonly="readonly" />
                                </div>
                                <div class="col-7">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>DEPENDENCIA</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Dependencia" readonly="readonly" />
                                </div>


                            </div>
                            <div class="row justify-content-start">

                                <div class="col-4">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>FECHA ELABORACION</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Fechaelab" readonly="readonly" />
                                </div>
                                <div class="col-md-7">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>TURNO</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Turno" readonly="readonly" />
                                </div>
                            </div>


                            <div class="row justify-content-start">

                                <div class="col-4">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>LICENCIA RESPONSABLE TURNO</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Licresponsable" readonly="readonly" />
                                </div>
                                <div class="col-8">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>ATCO RESPONSABLE TURNO</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Nombreresponsable" readonly="readonly" />
                                </div>
                            </div>

                            <div class="row justify-content-start">
                                <div class="col-4">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>LICENCIA RESPOSABLE TURNO SALIENTE</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Licturnosaliente" readonly="readonly" />
                                </div>
                                <div class="col-8">
                                    <div style="font-size:10px" class="fs-6 fw-bold mt-2 mb-3"><label>ATCO RESPONSABLE TURNO SALIENTE</label></div>
                                    <input style="font-size:12px" class="form-control form-control-sm" id="Nombreresponsablesal" readonly="readonly" />
                                </div>


                            </div>

                            <p class="text-blue" align='center' style="font-size:14px">DETALLE CONTROLADORES</p>



                            <table id="tbDetalleControladores" class="table table-bordered table-hover table-sm" style="width:100% ; font-size:11px">
                                <thead>
                                    <tr>
                                        <th>LICENCIA </th>
                                        <th>NOMBRE</th>
                                        <th>VIGENCIA CEMAC</th>
                                        <th>LESTADO</th>

                                    </tr>
                                </thead>
                                <tbody style="font-size:12px"></tbody>


                            </table>

                            <p class="text-blue " align='center' style="font-size:14px">DETALLE NOTAMS</p>

                            <table id="tbDetalleNotams" class="table table-bordered table-hover table-sm" style="width:100% ; font-size:10px">
                                <thead>
                                    <tr>
                                        <th>CODIGO </th>
                                        <th>DESCRIPCION</th>
                                        
                                    </tr>
                                </thead>
                                <tbody style="font-size:10px"></tbody>


                            </table>


                          
                            <p class="text-blue " align='center' style="font-size:14px">DETALLE EVENTOS Y NOVEDADES</p>




                            <table id="tbDetalleEventos" class="table table-bordered table-hover table-sm" style="width:100%; font-size:10px ">
                                <thead>
                                    <tr>
                                        <th>HORA UTC </th>
                                        <th>EVENTOS</th>
                                        <th>DESCRIPCION DE LA NOVEDAD</th>
                                        <th>RESPONSABLE</th>

                                    </tr>
                                </thead>
                                <tbody style="font-size:10px"></tbody>


                            </table>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>



@section scripts{
    <script>
        $(document).ready(function () {

        });

        function modalAdjunto() {
            $('#FormModal').modal('show');
        }



        function Consultar(Lugar, Dependencia, Fechaelab, Turno) {


            //$("#Lic").val("");
            $("#Lugar").val("");
            $("#Dependencia").val("");
            $("#Fechaelab").val("");
            $("#Turno").val("");
            $("#Licresponsable").val("");
            $("#Nombreresponsable").val("");
            $("#Licturnosaliente").val("");
            $("#Nombreresponsablesal").val("");


            $.ajax({
                url: $.MisUrls.url._DetalleControladorAtcDiario,
                type: "GET",
                contentType: "application/json;charset=UTF-8",
                dataType: "json",
                data: { Lugar: Lugar, Dependencia: Dependencia, Fechaelab: Fechaelab, Turno: Turno },
                success: function (e) {

                    $("#Lugar").val(e.LUGAR);
                    $("#Dependencia").val(e.DEPENDENCIA);
                    $("#Fechaelab").val(e.FECHAELABORACION);
                    $("#Turno").val(e.TURNO);
                    $("#Licresponsable").val(e.LICENCIARESPONSABLE);
                    $("#Nombreresponsable").val(e.NOMBRERESPONSABLE);
                    $("#Licturnosaliente").val(e.LICENCIARESPSALIEN);
                    $("#Nombreresponsablesal").val(e.NOMBRERESSALIDA);

                    $("#tbDetalleControladores tbody").html("");
                    $.each(e.oDetalleControladorAtc, function (i, row) {

                        $("<tr>").append(
                            $("<td>").text(row["LICENCIACONTROLADOR"]),
                            $("<td>").text(row["NOMBRECONTROLADOR"]),
                            $("<td>").text(row["VIGENCIACEMAC"]),
                            $("<td>").text(row["ESTADO"]))

                            .appendTo("#tbDetalleControladores tbody");
                    })

                    $("#tbDetalleNotams tbody").html("");
                    $.each(e.oDetalleNotamsAtc, function (i, row) {

                        $("<tr>").append(
                            $("<td >").text(row["CODIGONOTAMS"]),
                            $("<p> ").text(row["DESCRIPCION"]),
                            $("<p> ").text(row["DESCRIPCION1"]),
                            $("<p> ").text(row["DESCRIPCION2"]),
                            $("<p> ").text(row["DESCRIPCION3"]),
                            $("<p> ").text(row["DESCRIPCION4"]),
                            $("<p> ").text(row["DESCRIPCION5"]),
                            $("<p> ").text(row["DESCRIPCION6"]),
                            $("<p> ").text(row["DESCRIPCION7"]),
                            $("<p> ").text(row["DESCRIPCION8"]),
                            $("<p> ").text(row["DESCRIPCION9"]))

                            .appendTo("#tbDetalleNotams tbody");
                    })
                    $("#tbDetalleEventos tbody").html("");
                    $.each(e.oDetalleEventosAtc, function (i, row) {

                        $("<tr>").append(
                            $("<td >").text(row["HORAUTC"]),
                            $("<td >").text(row["CODIGOEVENTO"]),
                            $("<td >").text(row["DESCRIPCION"]),
                            $("<td >").text(row["USUARIO"]))
                          

                            .appendTo("#tbDetalleEventos tbody");
                    })
                },
                error: function (errormessage) {
                    Swal.fire("Mensaje", "Financiero: " + errormessage, "warning");
                }
            });


            $('#largeModal').modal('show');
        }


    </script>
}
